body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    color: #2c3e50;
}

ol {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

.note {
    font-style: italic;
    color: #7f8c8d;
}
/*-------------------------------------*/
/* Профиль */
#profile {
    text-align: center;
    margin-bottom: 20px;
}

#profile img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#profile p {
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
    margin: 5px 0;
}

.profile-functions {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.function-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.function-label {
    font-size: 16px;
    color: #34495e;
}

/*-------------------------------------*/
header {
    background-color: #3b5998;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 18px;
}

#auth-screen, #main-screen {
    display: none;
    padding: 15px;
}

#auth-screen.active, #main-screen.active {
    display: block;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #3b5998;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
	margin-top: 4px;
}

button:hover {
    background-color: #2d4373;
}

textarea {
    resize: none;
    height: 200px;
}

.group-link {
    color: #1a73e8;
    text-decoration: none;
}

.group-link:hover {
    text-decoration: underline;
}

.popup-message {
    position: fixed;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: top 0.5s ease, opacity 0.5s ease;
}

.popup-message.show {
    top: 20px;
    opacity: 1;
    visibility: visible;
}

.popup-message.hide {
    top: -60px;
    opacity: 0;
    visibility: hidden;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 50%;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(22px);
}

#delay-info {
    font-size: 14px;
    color: grey;
    margin-left: 60px;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #3b5998;
    padding: 10px 0;
}

.nav-button {
    color: white;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button i {
    margin-right: 5px;
}

.nav-button.active {
    font-weight: bold;
}

#toast {
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    font-size: 14px;
}

#log-container {
    overflow-y: hidden;
    display: flex;
    flex-direction: column-reverse;
}

.log-entry {
    font-size: 12px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.log-entry .group-id {
    color: #3b6fa1;
    text-decoration: underline;
    margin-right: 5px;
}

.log-entry.no-captcha {
    background-color: #eaf7e8;
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 600px) {
    header {
        font-size: 16px;
        padding: 10px;
    }

    input, textarea, button {
        font-size: 14px;
        padding: 8px;
    }

    button {
        font-size: 14px;
    }

    textarea {
        height: 150px;
    }

    .nav-bar {
        padding: 8px 0;
    }

    .nav-button {
        font-size: 14px;
    }

    #toast {
        bottom: 60px;
        font-size: 12px;
    }
}
